export APP_ROOT=$(pwd)
export PATH=$APP_ROOT/bin:$PATH

export DOCKER_WRAPPER_IMAGE_rust=1.29.0-stretch

export DOCKER_WRAPPER_SERVER_OPTS_cargoserver="-p ${LABO_PORT_PREFIX}80:8000"

export DOCKER_WRAPPER_TARGET=cargoserver
